* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 90px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #19337c;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    
}

header h1 {
    color: white;
    font-size: 1.8rem;
    margin: 0;
}

header h1 a {
    color: white;
    text-decoration: none;
}

header h1 a:hover {
    color: #ccc;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.75rem 1.2rem;
    border-radius: 4px;
}

nav a:hover,
nav a:focus,
nav a:active {
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
}

main {
    padding: 2rem;
}

.botones{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}
.logo {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
}
