

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 480px;
}

.seccionPrestamos{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 auto;
    width: 30%;
    padding: 2rem;
    background-color: #19337c;
    border-radius: 0.5rem;
}

.botones {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
    background-color: #19337c;
    color: white; 
    border-radius: 1rem;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    font-size: 1rem;
    border: none
    
}

.botones:hover {
    transform: scale(1.02); 
    
    background-color: #1e3a8a;
}

.formPrestamos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0.01rem; 
    width: 100%;

}
